$white: #FFFFFF;
$gray: #EFEFEF;

$muted: #999;

$pushHeight: 60px;

$topbar-bg: #111;
$topbar-link-bg-hover: lighten($topbar-bg, 7%);
$topbar-link-bg-active: lighten($topbar-bg, 7%);

$sidenav-bg: #E8E8E8;

$blue: #2BA6CB;
$red: #c0392b;